@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

$shadow: 4px 4px #ccc4;

* {
  box-sizing: border-box;
  font-family: 'Fira Code';
}

body {
  background: #111;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  height: 100vh;
}

.code-box {
  margin: auto;
  width: 85%;
  max-width: 900px;
  // border: 2px solid #333;
  box-shadow: $shadow;
}

.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: white;
  position: absolute;

  .top-mid {
    text-align: center;

    p {
      text-shadow: $shadow;
    }
  }

  span {
    margin: 1rem auto;
  }
}

.footer {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  justify-content: space-around;

  // button {
  //   height: auto;
  // }

  .status {
    color: white;
    opacity: 0;
    font-weight: bold;
    &.pop {
      animation: pop 1150ms ease-out;
    }
  }
  
  @keyframes pop {
    0% {
      opacity: 1;
  
    }
  
    100% {
      opacity: 0;
    } 
  }
}
